.btn {
  background-color: #32cd32;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: #1498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.main {
  margin: 80px auto 0;
	}

	.overall {
  margin: 5px auto 0;
  border: 1px dashed #777;
	}

	.progress {
  width: 200px;
	}

.container {
	padding: 10px 16px 10px 10px;
	font-weight: 400;
	overflow: hidden;
	width: auto;
	height: 1000px;
	background: #ffc;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	}

	#login {
  	width: auto;
	margin: auto;
	padding-bottom: 5px;
	}

	.container h1 {
	color: #777;
	text-align: center;
	font-weight: 300;
   border: 1px dashed #777;
   margin-top: 5px;
	}

	#statistics {
	color: #777;
	text-align: center;
	font-weight: 300;
   border: 1px dashed #777;
   margin-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 5px;
	}

	#map {
		height: 200px;
	color: #777;
	text-align: center;
	font-weight: 300;
   border: 1px dashed #777;
   margin-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 5px;
	}